body{
    font-family: 'Poppins', sans-serif;
}
.top-section{
    display: flex;
}
.half-width{
width: 50%;
margin-left: 2%;
margin-top: 5%;
padding: 5%;
}
.half-width img{
    width: 100%;
}
h2{
    font-size: 45px;
    padding: -11px;
}
.green-color{
    color: blue
}
.order-food{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 800;
}
.Second-section{
    display: flex;
    background-image: url(images/Frame\ 57.jpg);
    background-size: 100%;
}
.second-half-width{
    width: 50%;
    margin: 10px;
}
.Contact{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 800;
}
.thrid-section{
    margin: 5%;
    text-align: center;
}
.Recepie{
    display: flex;
}
.Recepie-Title{
    font-size: 30px;
    font-weight: 700;
}
.third-half-width{
    width: 30%;
    margin: 1%;
    box-shadow: 3px 6px 10px;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}
.third-half-width img{
    width: 100%;
}
.fourth-half-width{
    width: 30%;
    margin: 1%;
    box-shadow: 3px 6px 10px;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}
.fourth-half-width img{
    width: 100%;
}
.fifth-half-width{
    width: 30%;
    margin: 1%;
    box-shadow: 3px 6px 10px;
    border-radius: 20px;
    padding: 20px;
    text-align: left;
}
.fifth-half-width img{
    width: 100%;
}
.final-section{
    display: flex;
    box-shadow: 1px 2px 20px;
    border-radius: 20px;
    margin: 5%;
}
.final-half-width{
    width: 30%;
    text-align: center;
}
footer{
    text-align: center;
    background-color: black;
    margin-top: 5%;
}
.food-network{
    color: aliceblue;
    padding: 5px;
}